<script src="{{ 'form.js' | asset_url }}" defer></script>

<form onsubmit="onSubmit(event)">
  {{ 'product.product_id' | t }}: <input type="text" name="product_id" />
  <button type="submit">送信</button>
</form>
